@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{min-width:100vw;font-family:MapoFlowerIsland !important;}
section.main{max-width:42em; margin:0 auto;margin-bottom:80px;}

section.upper-image{width:100%;}
section.upper-image .upper{width:100%;}
section.upper-image .upper.image{width:100%;box-sizing: border-box;}
section.upper-image .upper.image > img{width:100%;}

section.upper-image .upper.info{text-align:center;margin-top:90px;font-size:20px;}
section.upper-image .upper.info .groom-bride{margin-bottom:1em;font-size:28px;}
section.upper-image .upper.info .time-where{line-height:30px;}
section.upper-image .upper.info .time-where > span{font-size:20px;line-height:16px;}


.fadeIn{transform:translateX(-50%);opacity:0;}
.fadeOut{transform:translateX(0);opacity: 1;}
.delay-1{transition:1s;}
.delay-2{transition:2s;}

section.invitation-text{padding:80px 0;box-sizing: border-box;background-color:#f7f7e3;margin-top:80px;}
section.invitation-text .word{text-align:center;font-size:17px;line-height:30px;}
@keyframes fadeInAfter1s {
  from {
    transform:translateX(-50%);
  }
  to {
    transform:
  }
}

section.invitation-text .family{text-align:center;margin-top:40px;}
section.invitation-text .family .bride-side{margin-top:20px;}

section.calling{margin-top:80px;}
section.calling .call{display:flex;justify-content: center;align-items:center;}
section.calling .call:nth-child(2){margin-top:20px;}
section.calling .call > span{font-size:18px;display:inline-block;margin-right:10px;}
section.calling .call > img{width:25px;display:inline-block;}
section.calling .call > img.calling-img{margin-left:30px;}
section.calling .call > img.message-img{margin-left:20px;}

section.calling .call.parent{width:calc(100% - 60px); margin:0 auto;margin-top:60px;}
section.calling .call.parent .title.groom-side{margin-right:30px;}
section.calling .call.parent .title.bride-side{margin-left:30px;}

section.calling .calling-side{width:calc(100% - 60px); margin:0 auto;display:flex;justify-content: center;margin-top:30px;}
section.calling .calling-side .side{text-align:center;}
section.calling .calling-side .side.groom{margin-right:30px;}
section.calling .calling-side .side.bride{margin-left:30px;}
section.calling .calling-side .side p{margin-bottom:5px;}
section.calling .calling-side .side img{width:20px;}
section.calling .calling-side .side .mother{margin-top:15px;}

section.calendar{width:calc(100% - 60px);margin:0 auto;margin-top:80px;}
section.calendar .title{font-size:28px;font-weight:700;border-bottom:1px solid #222;padding-bottom:40px;}
section.calendar > img{width:100%;display:inline-block;margin-top:20px;}

section.gallery{width:calc(100% - 60px);margin:0 auto;margin-top:80px;}
section.gallery .title{font-size:28px;font-weight:700;border-bottom:1px solid #222;padding-bottom:40px;}
section.gallery .gallery-swiper{margin-top:40px;width:100%;overflow:hidden;background-color:#f7f7e3;}
section.gallery .gallery-swiper .swiper-wrapper{align-items:center;}
section.gallery .gallery-swiper .swiper-wrapper .swiper-slide{height:100%;display:flex;align-items: center;}
section.gallery .gallery-swiper .swiper-wrapper .swiper-slide > img{width:100%;}

section.account{width:calc(100% - 60px);margin:0 auto;margin-top:80px;}
section.account > .title{font-size:28px;font-weight:700;border-bottom:1px solid #222;padding-bottom:40px;}

section.account .account-info{margin-top:40px;}
section.account .account-info .title{font-size:20px;}
section.account .account-info .groom{margin-top:30px;display:flex;justify-content: center;align-items: center;font-size:14px;height:50px;background-color:#f7f7e3;cursor:pointer;}
section.account .account-info div > img{width:25px;margin-left:10px;}
section.account .account-info .bride{margin-top:20px;line-height:30px;font-size:14px;display:flex;justify-content: center;align-items: center;height:50px;background-color:#f7f7e3;cursor: pointer;}
section.account .account-info .bride .bride-father,
section.account .account-info .bride .bride-account{display:flex;align-items: center;}
section.account .account-info .bride .bride-account{margin-top:10px;}

section.location{width:calc(100% - 60px);margin:0 auto;margin-top:80px;}
section.location > .title{font-size:28px;font-weight:700;border-bottom:1px solid #222;padding-bottom:40px;}

section.location > span{margin-top:30px;display:inline-block;font-size:24px;font-weight:700;}
section.location .location-info{margin-top:20px;font-size:20px;line-height: 26px;}
section.location .location-info > span{font-size:16px;display:inline-block;margin-top:10px;}
section.location .address{margin-top:10px;display:flex;align-items: center;}
section.location .address > span{font-size:20px;}
section.location .address > img{width:20px; display:inline-block;margin-left:10px;}

section.location .how-to-go{margin-top:25px;}
section.location .how-to-go .title{font-size:20px;}
section.location .how-to-go > div{font-size:16px;}
section.location .how-to-go > div.subway{margin-top:8px;}

section.thank-you{margin-top:80px;padding:60px 0; display:flex;justify-content: center; align-items: center; background-color:#f7f7e3;font-size:30px;font-weight:700;}

.popup{position:fixed;background:rgba(0,0,0,.5);z-index:9;width:100%;height:100vh;top:0;display:none;justify-content: center;align-items: center;transition:all .5s; opacity: 0;}
.popup.ing{display:flex;}
.popup.active{opacity: 1;display:flex;}
.popup .popup-container{width:calc(100% - 20px);height:auto; background-color:#fff;position:relative;padding:20px;box-sizing: border-box;transform:translateY(30%);transition:all .5s;}
.popup.active .popup-container{transform: translateY(0%);}
.popup .popup-container .title{padding-bottom:10px;border-bottom: 1px solid #222;display:flex;justify-content: space-between;align-items: center;font-size:20px; font-weight:700;}
.popup .popup-container .title.last{margin-top:30px;}
.popup .popup-container .title > button.copy-btn{background-color:#f7f7e3;border:0;font-size:12px;border-radius:4px;}
.popup .popup-container .account{margin-top:20px;line-height:20px;}

.popup .popup-container .close-btn{width:100%; height:40px; display:flex;justify-content: center;align-items: center;background-color:#0067a3;color:#fff;margin-top:30px;}

